[SddmGreeterTheme]
Name=2001
Description=2001 sddm theme
Type=sddm-theme
Author=Hendrik Lehmbruch
Copyright=2019, Hendrik Lehmbruch
License=EXPAT
Screenshot=images/preview.jpg
Version=1.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=2001
Theme-API=2.0
Website=https://github.com/hhl/sddm-theme-hhl
