[SddmGreeterTheme]
Name=black-qt6
Description=A black sddm theme.
Type=sddm-theme
Author=Hendrik Lehmbruch
Copyright=2015-2024, Hendrik Lehmbruch
License=EXPAT
Screenshot=images/preview.jpg
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=black-qt6
Theme-API=2.0
Website=https://github.com/hhl/hhl/tree/master/sddm-themes-hhl
